---
layout: page
title: Archive
permalink: /archive/index.html
description: "An archive of posts sorted by date."

---
<p style="text-align: center">So far I've written <span class="bluenumber">{{ site.posts.size }}</span> posts, not to shabby, but a lot more to come!</p>

{% for post in site.posts | sort: 'date' %} 
  <ul class="post-list">
      {% if post.title != null %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
  </ul>
{% endfor %}