---
layout: page
title: Events Index
permalink: /events/index.html
title: Public Events
description: "A list of my upcoming and past conference engagements"

---

{% assign conf2018 = site.data.conferences | where:"year","2018" %}
{% assign conf2017 = site.data.conferences | where:"year","2017" %}
{% assign conf2016 = site.data.conferences | where:"year","2016" %}
{% assign conf2015 = site.data.conferences | where:"year","2015" %}
{% assign conf2014 = site.data.conferences | where:"year","2014" %}

{% assign keynotecount = 0 %}
{% assign organisercount = 0 %}
{% assign talkcount = 0 %}
{% assign workshopcount = 0 %}
{% assign tutorialcount = 0 %}

{% assign countries = nil %}

{% for conference in site.data.conferences %}

  {% if forloop.last == true %}
      {% assign countries = countries | append: conference.country %}
    {% else %}
      {% assign countries = countries | append: conference.country | append: ', ' %}
  {% endif %}

  {% for role in conference.role %}
    {% if role == "Keynote" %}
      {% assign keynotecount = keynotecount | plus: 1   %}
    {% endif %}
    {% if role == "Organiser" %}
      {% assign organisercount = organisercount | plus: 1   %}
    {% endif %}
    {% if role == "Talk" %}
      {% assign talkcount = talkcount | plus: 1   %}
    {% endif %}
    {% if role == "Workshop" %}
      {% assign workshopcount = workshopcount | plus: 1   %}
    {% endif %}
    {% if role == "Tutorial" %}
      {% assign tutorialcount = tutorialcount | plus: 1   %}
    {% endif %}

  {% endfor %}
{% endfor %}

{% assign uniqueCountries = countries | split: ', ' | uniq | split: ', ' %}

<p>I'm an experienced conference speaker and teacher. I started public speaking in 2014 and thus far I've done {{keynotecount}} keynotes, {{talkcount}} talks, {{tutorialcount}} tutorials, {{workshopcount}}
  workshops and organised/co-organised {{organisercount}} conferences, in a total of {{uniqueCountries.size}} countries. Plus many many talks at local meetups around the world.
<p>If you're interested to know where I'm going to be and what events I'm attending, look no further! I do my best to keep this up to date as engagements come in.</p>
<p>If you're interested in having me talk or teach at your event, please contact me using your preferred method from my footer.</p>

{% if conf2018.size > 0 %}
<h2>2018</h2>
<ul>
{% for conference in conf2018 %}
  <li>
    <span>{{ conference.date }}</span>
    <span> | </span>

    {% if conference.url != null %}
    <span><a href="{{ conference.url }}">{{conference.name}}</a></span>
    {% else %}
    <span>{{ conference.name }}</span>
    {% endif %}

    <span> | </span>
    <span>{{ conference.role | join: ', ' }}</span>
  </li>
{% endfor %}
{% assign conf2018 = nil %}
</ul>
{% endif %}

{% if conf2017.size > 0 %}
<h2>2017</h2>
<ul>
{% for conference in conf2017 %}
  <li>
    <span>{{ conference.date }}</span>
    <span> | </span>

    {% if conference.url != null %}
    <span><a href="{{ conference.url }}">{{conference.name}}</a></span>
    {% else %}
    <span>{{ conference.name }}</span>
    {% endif %}

    <span> | </span>
    <span>{{ conference.role | join: ', ' }}</span>
  </li>
{% endfor %}
{% assign conf2017 = nil %}
</ul>
{% endif %}

{% if conf2016.size > 0 %}
<h2>2016</h2>
<ul>
{% for conference in conf2016 %}
  <li>
    <span>{{ conference.date }}</span>
    <span> | </span>

    {% if conference.url != null %}
    <span><a href="{{ conference.url }}">{{conference.name}}</a></span>
    {% else %}
    <span>{{ conference.name }}</span>
    {% endif %}

    <span> | </span>
    <span>{{ conference.role | join: ', ' }}</span>
  </li>
{% endfor %}
{% assign conf2016 = nil %}
</ul>
{% endif %}

{% if conf2015.size > 0 %}
<h2>2015</h2>
<ul>
{% for conference in conf2015 %}
  <li>
    <span>{{ conference.date }}</span>
    <span> | </span>

    {% if conference.url != null %}
    <span><a href="{{ conference.url }}">{{conference.name}}</a></span>
    {% else %}
    <span>{{ conference.name }}</span>
    {% endif %}

    <span> | </span>
    <span>{{ conference.role | join: ', ' }}</span>
  </li>
{% endfor %}
{% assign conf2015 = nil %}
</ul>
{% endif %}

{% if conf2014.size > 0 %}
<h2>2014</h2>
<ul>
{% for conference in conf2014 %}
  <li>
    <span>{{ conference.date }}</span>
    <span> | </span>

    {% if conference.url != null %}
    <span><a href="{{ conference.url }}">{{conference.name}}</a></span>
    {% else %}
    <span>{{ conference.name }}</span>
    {% endif %}

    <span> | </span>
    <span>{{ conference.role | join: ', ' }}</span>
  </li>
{% endfor %}
{% assign conf2014 = nil %}
</ul>
{% endif %}
