---
layout: page
title: Events Index
permalink: /events/index.html
title: Events Index
tags: [Events]
description: "An archive of posts sorted by Events."

---

<p>Conferences</p>
<ul>
{% for conference in site.data.conferences %}
  <li>
    <span>{{ conference.date}}</span>
    <span>{{ conference.name}}</span>
    <span>{{ conference.role}}</span>
    <span>{{ conference.url}}</span>
    <span>{{ conference.year}}</span>
  </li>
{% endfor %}
</ul>

<ul>
  {{ site.data.conferences | where:"year","2016" }}
    {% for conference in site.data.conferences %}
    <li>
      <span>{{ conference.date}}</span>
      <span>{{ conference.name}}</span>
      <span>{{ conference.role}}</span>
      <span>{{ conference.url}}</span>
      <span>{{ conference.year}}</span>
    </li>
{% endfor %}
</ul>
